body {
    padding: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#main-body {
    background-color: maroon;
    padding: 30px 20px;
    max-width: 800px;
    min-width: 200px;
    margin: auto;
}

#image-box {
    display: flexbox;
    flex-direction: column;
}

img {
    border-radius: 5%;
}